header div{
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px #000;
}

header nav{
    background-color: var(--dark-primary-color);
  height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a{
    color: #fff;
    margin: 0px 10px;
    
}